#main{
    text-align: center;
    font-size: 1.5em;
    font-family: arial;
}

#first{
    background-color: grey;
    
}
#second{
    background-color: gray;
}
#third{
    background-color:  gray;
}
#fourth{
    background-color:  gray;
}
#fifth{
    background-color:  gray;
}
span{
    font-size: 1.5em;
    margin-inline-start: 10px;
    width: 70px;
    display: inline-block;
    background-color:  gray;
}
#results{
    text-align: center;
}
#first2{
    background-color: gray;
}
#second2{
    background-color: gray;
}